<div class="container">
    <table>
        <tr>
            <td colspan="2"><h2>Aqui va el logo</h2></td>
        </tr>
        <tr>
            <td><h3>{{jobs.company}}</h3></td>
            <td><h5>{{jobs.location}}</h5></td>
        </tr>
        <tr>
            <td colspan="2"><p>{{jobs.position}} - {{jobs.tipo}}</p></td>
        </tr>
        <tr>
            <td colspan="2"><p>{{jobs.description}}</p></td>
        </tr>
        <tr>
            <td colspan="2"><p>How to Apply?</p></td>
        </tr>
        <tr>
            <td> <p>comunicate con: {{jobs.url}} </p></td>
        </tr>


    </table>
</div>